{% load staticfiles %}
{% load myfilters %}
<html>
<head>
    <meta charset="utf-8">
    <title>QuizPoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Навігація</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{% url 'QuizSite:main' %}">QuizPoint</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'QuizSite:item_list' %}">Тести</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категорії <b class="caret"></b></a>
              {% if template_name in 'item_list.html,main.html'|split:',' %}
                {% show_categories %}
              {% endif %}
              {% if template_name == 'item_list_my.html' and user.is_authenticated %}
                {% show_categories request.user.get_username %}
              {% endif %}
          </li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'QuizSite:my_item_list' %}">Створені мною</a></li>
                <li><a href="{% url 'QuizSite:create_item' %}">Створити</a></li>
            {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ІНФО <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'QuizSite:contacts' %}">Контакти</a></li>
              <li><a href="{% url 'QuizSite:info' %}">Інформація</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'QuizSite:l_materials' %}">Навчальні матеріали</a></li>
              <li class="divider"></li>
              <li><a href="/sitemap.xml">Карта сайту</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if template_name in 'item_list.html,item_list_my.html,main.html'|split:',' %}
              <li>
                  <form class="navbar-form navbar-left" role="search" method="GET">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Пошук" maxlength="30" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-default">&nbsp<span class="glyphicon glyphicon-search"></span>&nbsp</button>
                  </form>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'QuizSite:logout_user' %}">Вийти({{ user.username }})</a></li>
            {% else %}
                <li><a href="{% url 'QuizSite:login_user' %}">Увійти</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    {% if messages %}
        <div class="container centered messageContainer">
            {% for message in messages %}
                <div class="row">
                    <div>
                        {% if message.tags %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            {% else %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
                            {% endif %}
                        {% endif %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="text-center text-muted">{{ message|safe }}<div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
  {% block content %}
  {% endblock %}



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block scripts %} {% endblock%}
</body>
</html>