{% load widget_tweaks %}
<div id="headerwarp">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="text-muted">{{ formName }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% if form.errors or errors %}
        {% for error in form.errors %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center text-muted">{{ error }}</div>
            </div>
        {% endfor %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center text-muted">{{ error }}<div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
    <form method="post" class="form-horizontal" role="form" id="submitForm">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% for error in hidden_filed.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <div id="quiz">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <!--<div class="col-md-6">-->
                    <label class="text-muted" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    <!--</div>-->
                </div>
            {% endfor %}
        </div>
        <button type= "button" id="append" class="btn btn-default">
            <span class="glyphicon glyphicon-plus text-muted"></span>
            <span class="text-muted">Питання</span>
        </button>
        <button type= "button" id="remove" class="btn btn-default">
            <span class="glyphicon glyphicon-minus text-muted"></span>
            <span class="text-muted">Питання</span>
        </button>
        <button type="submit" class="btn btn-default" id="submit">
            <span class="glyphicon glyphicon-ok text-muted"></span>
            <span class="text-muted">
                {% if item %}
                    Зберегти
                {% else %}
                    Створити
                {% endif %}
            </span>
        </button>
        <a class="button btn btn-default" id="cancel" onclick="return confirm('Всі данні, що ви ввели будуть втрачені. Ви впевнені, що хочете відмінити?')" href="{% url 'QuizSite:my_item_list' %}">
            <span class="glyphicon glyphicon-ban-circle text-muted"></span>
            <span class="text-muted">Відмінити</span>
        </a>
    </form>
</div>