{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    {% include "form_creation.html" with formName='Створити тест' %}
    {% include "patterns.html" %}
{% block scripts %}
<script src="{% static 'js/create_subs.js' %}" type="text/javascript"></script>
<script src="{% static 'js/create_quiz.js' %}" type="text/javascript"></script>
{% endblock %}
<script type="text/javascript">
    var formPatter    = $('#formPattern');
    var choicePattern = $('#choiceCreatePattern');
    var quizContainer = $('#quiz');
    var appendButton  = $('#append');
    var submitButton  = $('#submit');
    var rmButton      = $('#remove');
    $(document).ready(createQuiz(quizContainer, appendButton, submitButton, formPattern, choicePattern))
</script>
{% endblock %}