{% extends 'base.html' %}
{% load myfilters %}
{% block content %}
  <div id="headerwarp">
  	<div class="container">
  		<div class="row centered">
  			<div class="col-lg-8 col-lg-offset-2">
                <h1 class="text-muted">Доступні тести {% if request.GET.cat %}<span class="badge">{% get_category request.GET.cat %}</span>{% endif %}</h1>
  			</div>
  		</div>
        <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr class="dark">
                        <th class="textInHeader">Назва</th>
                        <th class="textInHeader">Категорія</th>
                        <th class="textInHeader">Автор</th>
                        <th class="textInHeader">Опубліковано</th>
                        <th class="textInHeader"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_list %}
                    <tr>
                        <th class="text-muted">
                            <div class="titleToDisplay">
                                {{ item.title }} <span class="descriptionToDisplay">{{ item.description }}</span>
                            </div>
                            <!--<a href="#" data-placement="right" data-toggle="tooltip" title="{{ item.description }}">{{ item.title }}</a>-->
                        </th>
                        <th class="text-muted">{{ item.category }}</th>
                        <th class="text-muted">{{ item.author }}</th>
                        <th class="text-muted">{{ item.published_date | date:"d.m.y h:m" }}</th>
                        <th class="text-muted">
                            <a href="{% url 'QuizSite:run_quiz' id=item.id %}" class="btn btn-link">
                                <span class="glyphicon glyphicon-play text-muted changable_link">
                                </span>
                            </a>
                        </th>
                    </tr>
                    {% empty %}
                    <tr>
                        <th colspan="8" class="text-center text-muted">
                            {% if request.GET.q %}
                                За вашим запитом нічого не знайдено
                            {% else %}
                                Пусто
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr class="dark">
                        <th colspan="8" class="textInHeader">
                            {% include "pagination.html" with item_list=item_list request=request %}
                        </th>
                    </tr>
                </thead>
                </table>
            </div>
  	</div>
  </div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}