{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load myfilters %}

{% block content %}
    {% include "form_creation.html" with formName='Редагувати тест' %}
    {% include "patterns.html" %}
{% block scripts %}
<script src="{% static 'js/create_subs.js' %}" type="text/javascript"></script>
<script src="{% static 'js/edit_quiz.js' %}" type="text/javascript"></script>
{% endblock %}
<script type="text/javascript">
    var itemId={{ item.id }}
    var validateUrl   = '{% url 'QuizSite:validate_quiz_title' %}'
    var quiz= {{ item.quiz|js }}
    $('input[name=title]').val('{{ item.title }}')
    $('input[name=description]').val('{{ item.description }}')
    $('select[name=category]').val('{{ item.category.id }}')
    console.log('{{ item.category }}')
    var formPatter    = $('#formPattern');
    var choicePattern = $('#choicePattern');
    var quizContainer = $('#quiz');
    var appendButton  = $('#append');
    var submitButton  = $('#submit');
    var rmButton      = $('#remove');
    $(document).ready(editQuiz(quizContainer, appendButton, submitButton, formPattern, choicePattern, quiz, validateUrl, itemId))
</script>
{% endblock %}