{% extends 'base.html' %}
{% block content %}
  <div id="headerwarp">
  	<div class="container">
  		<div class="row centered">
  			<div class="col-lg-8 col-lg-offset-2">
  				<h1 class="text-muted">Мої тести</h1>
  			</div>
  		</div>
        <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr class="dark">
                        <th class="text-muted">Назва</th>
                        <th class="text-muted">Деталі</th>
                        <th class="text-muted">Автор</th>
                        <th class="text-muted">Опубліковано</th>
                        <th class="text-muted"></th>
                        <th class="text-muted"></th>
                        <th class="text-muted"></th>
                        <th class="text-muted"></th>
                        <th class="text-muted"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th class="text-muted">{{ item.title }}</th>
                        <th class="text-muted">{{ item.description }}</th>
                        <th class="text-muted">{{ item.author }}</th>
                        <th class="text-muted">{{ item.published_date }}</th>
                        <th class="text-muted">
                            <a href="{% url 'publish' id=item.id %}" class="btn btn-default" onclick="return confirm('Опублікувати тест?')">
                                <span class="glyphicon glyphicon-eye-open">
                                </span>
                            </a>
                        </th>
                        <th class="text-muted">
                            <a href="{% url 'hide' id=item.id %}" class="btn btn-default" onclick="return confirm('Прибрати тест з загального доступу?')">
                                <span class="glyphicon glyphicon-eye-close">
                                </span></a>
                        </th>
                        <th class="text-muted">
                            <a href="{% url 'edit_item' id=item.id %}" class="btn btn-default" onclick="return confirm('Редагувати тест?')">
                                <span class="glyphicon glyphicon-pencil">
                                </span>
                            </a>
                        </th>
                        <th class="text-muted">
                            <a href="{% url 'run_quiz' id=item.id %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-play">
                                </span>
                            </a>
                        </th>
                        <th class="text-muted">
                            <a href="{% url 'item_delete' id=item.id %}" class="btn btn-default" onclick="return confirm('Ви впевнені, що хочете видалити тест?')">
                                <span class="glyphicon glyphicon-remove">
                                </span></a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
  	</div>
  </div>
{% endblock %}